
.cover-story {
  background-color: #1f1f14;
  color: white;
  font-size: 18px;
  padding-bottom: 36px;
}

.cover-story .pop {
  color: #ffbf00;
  font-weight: bold;
  font-size: 20px;
}

.cover-story a {
  color: gray;
  font-size: 12px;
}

.cover-story .btn{
  margin-top: 10px;
  color: #ffbf00;

}

.tweets {
  padding-top: 20px;
}
